<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deadliner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>422D0750243C6ADE0092763D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>422D0769243C6ADF0092763D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>422D0774243C6ADF0092763D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
